.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.texto-boke {
    position: relative;
    top: 200px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 90px;
    text-align: center;
    color: rgb(255, 255, 255);
    background: none;
    text-shadow: 5px 3px 3px black;
    opacity: 1;
    /* animation-name: texto;
    transition-duration: 3s; */

}




.linkardo {
    color: rgb(1, 1, 154);
    background-color: transparent;

}



a:visited {
    color: rgba(48, 87, 241, 0.73);
}