.tags {
    width: 100%;
    text-align: center;
    padding: 20px 0px;
    background-color: rgb(13, 13, 88);
    position: fixed;
    z-index: 1;
}





.tag {
    outline: none;
    border: none;
    color: #ddd;
    margin: 0px 30px;
    background-color: rgb(13, 13, 88);
    cursor: pointer;




}

.tag:hover {
    font-weight: bold;
    background-color: rgb(234, 218, 39);
    color: rgb(31, 31, 124);

}





.active {
    font-weight: bold;
    border-bottom: 1px solid rgb(234, 218, 39);
}

.container-img {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}