* {
  margin: 0;


}

html:not(texto) {
  height: 100%;
  background-image: url('../public/imagenes/simiogritaboke.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  background-position: center;
  animation: background 2s;


}

/* @keyframes background {

  0% {
    background-size: 110% 100%;


  }

  100% {

    background-size: 100% 100%;

  } */



#root {
  height: 100%;
  width: 100%;

}



body {
  height: 100%;
  animation: texto 2s ease-in-out;

}

@keyframes texto {

  0% {
    opacity: 0;
    transform: translateY(-70%);

  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}



img:not(.body) {

  position: relative;
  top: 80px;
  width: 250px;
  height: 200px;
  border: 6px solid rgb(47, 25, 124);
  animation: imagenes 400ms;

}



@keyframes imagenes {

  0% {
    opacity: 0;


  }

  100% {
    opacity: 1;

  }
}